*{
  margin:0px;
}


body{
  background-color:#FFFAFA;margin:10px
}

h1{
  color:red
}

titles{
  color:red;text-align:center;

}

.navbar{
  background-color:yellow;margin:0px;overflow:hidden;padding:0px;list-style-type:none;
}

li{
  float:left
}

a{
  color:purple; padding:10px
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #D3D3D3;
  border-radius: 50%;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}
.row {margin: 0 -5px;}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /**/
  padding: 16px;
  text-align: center;
  background-color: #F5F5F5;
}
h3{
border-style: dotted;
border-width:2px
border-color:
}

* {
  box-sizing: border-box;
}

.column1 {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.row1 {margin: 0 -5px;}
.card1 {
  padding: 16px;
  text-align: center;
  background-color: white;
  border-style:double;
  border-width:3px;
  border-color:#c2c2d6;
  overflow:hidden

}

.list1{
  display:flex;
  justify-content:center;
}

.card1:hover{
  transition: 1s ease-in;

}

.transition:nth-of-type(1){
  transition: 1s ease-in;
}

.transition:nth-of-type(2){
  transition: 1s ease-out;
}

.transition:nth-of-type(3){
  transition: 1s ease-in-out;
}

.container:hover .card1{
  height: 400px;
  transition: 1s ease-in;
}

.button1{
  background-color:#fff2e6
  font-family: "Courier New"
}

h1 {
  text-align:center;
}

 .column2 {
  flex: 33.3%;
  padding: 5px;
}



.row2 {
  display: flex;
}

.card2 {
  padding: 16px;
  text-align: center;
  background-color: #F5F5F5;
}

.row2::after {
  content: "";
  clear: both;
  display: table;
}






















}
